@import url('./variables.css');
@import url('./component/slideshow.css');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background-prymary);
}

.header {
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 300px;
    min-width: 150px;
    padding: 1rem;
}

.header__search {
    padding: 1rem;
}

.header__search--label {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40rem;
    max-width: 50rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.header__search--label img {
    width: 20px;
    height: 20px;
}

.header__search--label input {
    width: 100%;
    color: #f1f1f1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

.header__nav {
    padding: 0.5rem;
}

.header__nav--list--items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__nav--list--item {
    padding: 0 0.5rem;
}

.header__nav--list--item a {
    width: 32px;
    height: 32px;
}