@import url('./variables.css');
@import url('./component/header.css');
@import url('./component/slideshow.css');
@import url('component/aside-menu.css');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background-prymary);
}