:root {
    --primary-color: #a83338;
    --secondary-color: #d02d37;
    --tertiary-color: #4a1619;
    --background-prymary: #fff;
    --background-secondary: #d3d3d3;
    --border-color: 2px solid #d3d3d3;
}